
# folders
/node_modules
/thinkdj

# builds
/out
/dist
/builds

# bundle files (should not be committed)
src/renderer.bundle.js*
renderer.bundle.js*

# editors etc
/.git
/.idea
/.vagrant

# misc
Homestead.json
Homestead.yaml
npm-debug.log

# files
*.dmg
*.exe
*.zip
*.deb
*.tar.gz
